.breadCrumbs
	border-top: 1px solid #eaedf1;
	border-bottom: 1px solid #eaedf1
	background-color white
	background-color white
	padding 0.4em
	//font-family: 'Source Sans Pro', sans-serif;
	font-weight normal
	padding-left 1em
	font-style italic
	& span
		font-size 0.9em
		color #394263
	&-Separador
		color #ccc !important
	&-Selected
		color #1bbae1 !important