div(class="Inicio")
		div(class="Inicio-Banner")
			div(class="Inicio-Banner-Tansparente")
				div(class="Inicio-Banner-Texto1")
					h3 Bienvenido al &nbsp
						span Sistema
				div(class="Inicio-Banner-Texto2")
					span De Planillas CLicks and Bricks
				div(class="Inicio-Banner-Iconos")
					div
						i(class="fa fa-calendar-minus-o") 
							div Eventos
						i(class="fa fa-calendar-minus-o") 
							div Eventos
						i(class="fa fa-calendar-minus-o") 
							div Eventos