aside(class="Aside-A")
	div(class="Panel-Logo") 
		span(class="bold") Clicks 
		span  &nbsp and Bricks
	div(class="Panel-LogoPanel")
		div(class="Logo-Circular")
			img(src="../../img/cyblogo.png")
		div(class="Panel-LogoIzquierda")
			div Daniel Moreno
			div 
				span 13 de oct 2015
	div(class="Panel-Logo-Claro")
	include ../menuSinTitulo/menuSinTitulo.jade
	include ../menuConTitulo/menuConTitulo.jade