.Menu-ConTitulo {
  list-style: none;
}
.Menu-ConTitulo span:first-child {
  color: #b1a5a5;
  font-size: 0.7em;
  margin-left: 0.5em;
}
.Menu-ConTitulo ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0.3em;
}
.Menu-ConTitulo ul li {
  font-size: 0.8em;
  display: flex;
  height: 2.8em;
  align-items: center;
}
.Menu-ConTitulo ul li i {
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  color: #b1a5a5;
}
.Menu-ConTitulo ul li span {
  color: #fff;
}
.Menu-ConTitulo ul li:hover {
  cursor: pointer;
  background-color: moradoOscuroHover;
  color: #fff;
}
