.Menu-Principal	ul
	list-style none
	font-size 0.8em
	margin-left 0
	padding-left 0
	color #B1A5A5
	& li	
		display flex
		height 2.8em
		align-items center		
		& i 			
			margin-left 1em
			margin-right 1em
			display inline-block
		& span
			color white
	& li:hover
		cursor pointer
		background-color moradoOscuroHover
		color white
	& li:first-child
		background-color #282e46
		border-left 5px solid celesteHover
		//margin-left -5px;