.Menu-ConTitulo
	list-style none
	& span:first-child
		color #B1A5A5
		font-size 0.7em
		margin-left 0.5em
	& ul
		list-style none
		margin-left 0
		padding-left 0		
		margin-top 0.3em
		& li
			font-size 0.8em
			display flex
			height 2.8em
			align-items center
			& i 			
				margin-left 1em
				margin-right 1em
				display inline-block
				color #B1A5A5
			& span
				color white
		& li:hover
			cursor pointer
			background-color moradoOscuroHover
			color white