div(class="Menu-ConTitulo")
		span WIDGET KIT
		ul
			li 
				i(class="fa fa-caret-square-o-right") 
				span Dashboard
			li 
				i(class="fa fa-bell") 
				span Dashboard 2
			li 
				i(class="fa fa-calculator") 
				span Frontend Templates
			li 
				i(class="fa fa-calendar") 
				span Email Templates
			li 
				i(class="fa fa-cart-plus") 
				span eCommerce