@import("../layout/layout.styl")
@import("../../componentes/aside/aside.styl")
@import("../../componentes/header/header.styl")
@import("../../componentes/menuSinTitulo/menuSinTitulo.styl")
@import("../../componentes/menuConTitulo/menuConTitulo.styl")
@import("../../componentes/slide/styl.styl")
@import("../../componentes/table/table.styl")
@import("../../componentes/breadCrumbs/styl.styl")
//bread Crumbs 
borderTable=#DEDBDB
body
	background-color: #eaedf1;